@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
body {
	font-family: 'Open Sans', sans-serif !important;
}
.footer {
    padding: 50px 0 20px 0;
    background-color: #090c14;
    color: #878c94;
	
}



.footer .category a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius:4px;
    margin-top: 6px;
    background-color: black;
    //border: solid 1px #fff;
}

#fixed-div {
	position: relative;
	text-align:center;
	padding: 0 35%;
	margin: 2%;
}
.first-row {
	color:white;
	background:url(/euf/assets/themes/responsivetmp/img/bg.jpg) no-repeat center top;
	background-size:cover;
	height: 94vh;
}
div#toggle-btn:hover {
	cursor:pointer;
}
.first-row a:link {
	font-size: small;
	text-transform:capitalize;
}
hr {
	background-color:whitesmoke;
}
.card {
	background-color:whitesmoke;
}
.fix-top {
	position: fixed;
	display:block;
	z-index: 99;
	top:0;
	width: 100%;
	color:black;
	background-color:rgba(255, 255, 255, 0.9);
	-webkit-transition: background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
	-ms-transition: background 0.5s ease-in-out;
	-o-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
	    border-bottom: 1px solid #dedede;
}
.affix {
	top: 0;
	width: 100%;
	-webkit-transition: top 0.5s ease-in-out;
	-webkit-transition-delay: 0.5s;
	transition: top 0.5s ease-in-out;
	transition-delay: 0.5s;
	z-index: 9999 !important;
}
.img-responsive {
	max-width: 100%;
	height: auto;
	display:block;
}
#rn_Search {
	position:absolute;
	padding: 25px;
	border-radius: 4px;
	left:0;
	width:100%;
}
.input-group {
	display:table;
}
#rn_Search input[type=text] {
	border-radius: 4px 0 0 4px;
	height: 38px;
	position: relative;
	top: 1px;
	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
}
.rn_KeywordText {
	display: inline;
}
#content-div {
	margin:10px 0 auto;
	border: 1px solid black;
	width: 100%;
}
#first-content {
	width: 50%;
	text-align:justify;
	margin: 10px;
}
#second-content {
	width:30%;
	text-align:justify;
	border: 1px solid yellow;
	margin: 10px;
}
#third-content {
	text-align:justify;
	border: 1px solid gray;
	margin:10px;
}
/* Adarsh */
span.input-group-btn {
	display: inline;
	position: absolute;
	right: 30px;
	top: 19px;
}
span.input-group-btn .rn_SearchButton {
	display: inline;
	float: left;
}
.rn_KeywordText input[type=text] {
	border-radius: 0;
	padding-right: 48px;
	height: 55px;
	font-size: 1.5em;
	font-weight: 400 !important;
	color: #5a5a5a;
}
span.input-group-btn .rn_SearchButton button {
	border-radius: 0;
	height: 25px;
	cursor: pointer;
	line-height: 29px;
	background: url(/euf/assets/themes/responsivetmp/img/search_icon.svg) no-repeat center top;
	border: 0;
	outline: none;
	padding: 27px 25px;
	background-position: 16px 20px;
}
span.input-group-btn .rn_SearchButton button:hover, span.input-group-btn .rn_SearchButton button:focus {
	background-color:transparent !important;
	outline:none
}
.logo {
	height: 50px;
}
.logo img {
	padding: 9px 0;
}
.stick {
	padding: 20px 0 10px 0;
	border-bottom: 1px solid #ffffffa8;
	text-align: right;
}
.stick a {
	color: #fff;
	font-size: .9em;
}
.stick a:hover {
	text-decoration:underline;
	cursor:pointer;
}
.fix-top .stick a {
	color: #000;
}
.banner_content {
	position: relative;
	width: 65%;
	margin: 0 auto;
}
.banner_text {
	padding: 100px 0 0 0;
	text-align: center;
}
.banner_text h1 {
	font-size: 2.8em;
	font-weight: 600;
	margin-bottom: 15px;
}
.banner_text h5 {
	font-size: 1.4em;
}
.search_wrap {
	position: relative;
}
.content-wrapper h1 {
	text-align: center;
	padding: 20px 0;
	clear: both;
	margin: 0;
	font-weight: 600;
	font-size: 2.6em;
}
.more-cat {
	padding: 20px 0;
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	text-align:center;
	clear:both;
}
span.input-group-btn .rn_SearchButton button span {
	display: none;
}
.more-cat a {
    color: #0070c9;
    font-size: 1.3em;
    text-decoration: none;
}

.more-cat i {
    color: #0070c9;
    position: relative;
    top: 3px;
    left: 3px;
}
.home-listing #imageContentleft{margin-top:25px;text-align:center;}

.home-listing #imageContent{margin-top:5px;text-align:center;}
.home-listing .thumbNail {
    margin-top: 0;
}
.home-listing #textContent {margin-top:0}
.ruler{background:#dedede; height:1px;clear:both}
.home-listing-middles {
    margin: 0 auto !important;
    float: none !important;
}
.box{font-family: 'Open Sans', sans-serif !important;width: 9% !important;
    margin: 20px 10px !important;border:1px solid transparent;}
.home-listing-middles #imageContentcenter{text-align:center; margin-top:20px}
.primary_icons {
    text-align: center !important;
    margin: 0 auto !important;
}

.get_help {
    width: 50%;
    margin: 0 auto;
    text-align:center;
}

.get_help .box {
    width: 21% !important;
}
.answer_list {
    padding: 30px 20px;
	outline:none;
	clear: both;
    float: left;
    width: 100%;
}
.rn_Results {float:right;}
.answer_list .rn_Content h3 {
    font-size: 1.1em !important;
    margin: 0;
}

.answer_list .rn_Content ol li {
    font-size: 1.1em;
    padding: 6px 0;
    color: #0097A7;
}

.answer_list .rn_Content h3 a {
    color: #0097A7;
}
.answer_list .rn_Content ol {
    margin: 0;
    padding: 0 0 0 17px;
}
@media only screen and (min-width: 1200px) {
.container {
 width: 980px !important;
}
}
@media only screen and (max-width:768px){
.home-listing-middles {
    width: 100% !important;
}	
}
@media only screen and (min-width: 768px){
#textContent,#textContentleft {width:50% !important;padding-top: 20px;}
#imageContent{margin-left:0 !important}
#textContentcenter{width:96% !important}
}
@media only screen and (max-width:420px){
.banner_content{width:80%}
.banner_text h1{font-size: 2em;}
.get_help {
    width: 80%;}
	.get_help .box {
    width: 44% !important;
}
.primary_icons .box{ width:42% !important;}
.primary_icons .box span{display:block}
}
@media only screen and (min-width: 450px) and (max-width:768px){
.primary_icons .box{ width:22% !important;}
.primary_icons .box span{display:block}
.get_help .box {
    width: 20% !important;
}
.get_help {
    width: 70%;}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
.get_help {
    width: 70%;}
#textContent, #textContentleft {
    width: 68% !important;}
}




