vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|14 Dec 2017 19:39:59 -0000
vti_author:SR|avinashow-PC\\avinashow
vti_modifiedby:SR|avinashow-PC\\avinashow
vti_nexttolasttimemodified:TW|14 Dec 2017 19:39:59 -0000
vti_timecreated:TR|18 Dec 2017 21:43:54 -0000
vti_cacheddtm:TX|18 Dec 2017 21:43:54 -0000
vti_filesize:IR|6763
vti_cachedlinkinfo:VX|Q|https://fonts.googleapis.com/css S|/euf/assets/themes/responsivetmp/img/bg.jpg S|/euf/assets/themes/responsivetmp/img/search_icon.svg
vti_cachedsvcrellinks:VX|NQSS|https://fonts.googleapis.com/css NSUS|/euf/assets/themes/responsivetmp/img/bg.jpg NSUS|/euf/assets/themes/responsivetmp/img/search_icon.svg
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_syncwith_opn-speridian-2.rightnowdemo.com\:443/dav:TW|18 Dec 2017 21:43:54 -0000
vti_syncofs_opn-speridian-2.rightnowdemo.com\:443/dav:TW|14 Dec 2017 19:39:59 -0000
