vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|07 Apr 2017 02:49:37 -0000
vti_syncofs_federalsignal--tst.custhelp.com\:443/dav:TW|07 Apr 2017 02:49:37 -0000
vti_syncwith_federalsignal--tst.custhelp.com\:443/dav:TW|19 May 2017 22:44:34 -0000
vti_author:SR|avinashow-PC\\avinashow
vti_modifiedby:SR|avinashow-PC\\avinashow
vti_nexttolasttimemodified:TW|07 Apr 2017 02:49:37 -0000
vti_timecreated:TR|22 May 2017 19:14:45 -0000
vti_extenderversion:SR|12.0.0.0
vti_syncwith_localhost\\c\:\\users\\avinashow\\documents\\my web sites\\mysite/c\:/users/avinashow/documents/my web sites/mysite:TW|07 Apr 2017 02:49:37 -0000
vti_backlinkinfo:VX|
vti_syncwith_localhost\\c\:\\users\\avinashow\\documents\\my web sites/c\:/users/avinashow/documents/my web sites:TW|07 Apr 2017 02:49:37 -0000
vti_cacheddtm:TX|22 May 2017 19:14:45 -0000
vti_filesize:IR|105
